# Configuration authentification Essensys
# Géré par Ansible - Modifiable via essensys-auth

ESSENSYS_AUTH_ENABLED={{ '1' if essensys_auth_enabled else '0' }}
ESSENSYS_LAN_NOAUTH={{ '1' if essensys_lan_noauth else '0' }}
ESSENSYS_AUTH_REALM="{{ essensys_auth_realm }}"
