api:
  dashboard: true
  insecure: true

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    addRoutersLabels: true

entryPoints:
  traefik:
    address: ":8081"
  dashboard:
    address: ":8080"
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: /etc/traefik/acme.json
{% if use_staging %}
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
      tlsChallenge: {}

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log
  format: json

global:
  checkNewVersion: false
  sendAnonymousUsage: false
