http:
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    auth-wan:
      basicAuth:
        usersFile: /etc/traefik/users.htpasswd

  routers:
    frontend-wan:
      rule: "Host(`{{ wan_domain }}`) && !PathPrefix(`/api/`)"
      entryPoints:
        - websecure
      service: frontend-service
      middlewares:
        - auth-wan
      tls:
        certResolver: letsencrypt
      priority: 10

    api-inject-wan:
      rule: "Host(`{{ wan_domain }}`) && PathPrefix(`/api/admin/inject`)"
      entryPoints:
        - websecure
      service: backend-service
      middlewares:
        - auth-wan
      tls:
        certResolver: letsencrypt
      priority: 25

    block-api-wan:
      rule: "Host(`{{ wan_domain }}`) && PathPrefix(`/api/`) && !PathPrefix(`/api/admin/inject`)"
      entryPoints:
        - websecure
      service: block-service
      tls:
        certResolver: letsencrypt
      priority: 15

  services:
    frontend-service:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:80"
        passHostHeader: true

    backend-service:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:7070"
        passHostHeader: true

    block-service:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8082"
        passHostHeader: true
