version: '3'
services:
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "{{ mosquitto_port }}:1883"
    volumes:
      - {{ mosquitto_dir }}/config:/mosquitto/config
      - {{ mosquitto_dir }}/data:/mosquitto/data
      - {{ mosquitto_dir }}/log:/mosquitto/log
